{% extends "layouts/site.html" %}
{% from "submissions/components/table.html" import pagination, submission_table %}
{% block title %}提交记录 - {{ super() }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='app/submissions.css') }}">
{% endblock %}
{% block content %}
<h2><i class="fas fa-chart-pie me-2"></i>提交记录 - P{{ problem_id }}</h2>
{{ pagination('submission.submission_list', current_page, total_pages, page_numbers, problem_id) }}
{{ submission_table(user_submissions, user) }}

<hr>
<a href="{{ url_for('problem_core.problem_detail', problem_id=problem_id) }}" class="btn btn-outline-secondary">
  &larr; 返回题目
</a>
{% endblock %}
