<div data-ranking-panel data-ranking-tab="{{ tab }}">
  {% set is_elo = ((competition.scoring_mode or 'absolute')|lower == 'elo') %}
  {% set is_agent_judge = ((competition.scoring_mode or 'absolute')|lower == 'agent_judge') %}
  {% set is_reverse_judge = ((competition.scoring_mode or 'absolute')|lower == 'reverse_judge') %}
  {% set is_ai_judge = is_agent_judge or is_reverse_judge %}
  {% from 'ranking/components/submission_card.html' import render_sub_card %}

  {% include 'ranking/tabs/description.html' %}
  {% include 'ranking/tabs/submit.html' %}
  {% include 'ranking/tabs/leaderboard.html' %}
  {% include 'ranking/tabs/matches.html' %}
  {% include 'ranking/tabs/submissions.html' %}
  {% include 'ranking/tabs/appeals.html' %}
  {% include 'ranking/tabs/batch_evaluate.html' %}
  {% include 'ranking/tabs/settings.html' %}
</div>
